# This file contains common pin mappings for Melzi v2.0 boards. To use
# this config, the firmware should be compiled for the AVR
# atmega1284p.

# Note, a number of Melzi boards are shipped with a bootloader that
# requires the following command to flash the board:
#  avrdude -p atmega1284p -c arduino -b 57600 -P /dev/ttyUSB0 -U out/klipper.elf.hex
# If the above command does not work and "make flash" does not work
# then one may need to flash a bootloader to the board - see the
# Klipper docs/Bootloaders.md file for more information.

# See docs/Config_Reference.md for a description of parameters.

[mcu]
serial: /dev/ttyUSB0

#[extruder]
#heater_pin: PD5
#sensor_pin: PA7

#[heater_bed]
#heater_pin: PD2
#sensor_pin: PA6

[temperature_sensor Top_Sensor]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PA6
min_temp: 10
max_temp: 280

[temperature_sensor Bottom_Sensor]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PA7
min_temp: 10
max_temp: 280

[heater_generic Oven_Heater]
gcode_id: 
heater_pin: PD2
max_power: 0.5
pwm_cycle_time: 0.0097
control = pid_v
min_temp: 10
max_temp: 280
sensor_type: temperature_combined
sensor_list: temperature_sensor Top_Sensor, temperature_sensor Bottom_Sensor
#   Must be provided. List of sensors to combine to new "virtual"
#   sensor.
#   E.g. 'temperature_sensor sensor1,extruder,heater_bed'
combination_method: mean
#   Must be provided. Combination method used for the sensor.
#   Available options are 'max', 'min', 'mean'.
maximum_deviation: 100
#   Must be provided. Maximum permissible deviation between the sensors
#   to combine (e.g. 5 degrees). To disable it, use a large value (e.g. 999.9)

[heater_fan Fan]
pin: PB4
#max_power: 1
#shutdown_speed:
cycle_time: 0.0149
hardware_pwm: True
#kick_start_time:
#min_power:
#enable_pin:
#   See the "fan" section for a description of the above parameters.
heater: Oven_Heater
#   Name of the config section defining the heater that this fan is
#   associated with. If a comma separated list of heater names is
#   provided here, then the fan will be enabled when any of the given
#   heaters are enabled. The default is "extruder".
heater_temp: 50
#   A temperature (in Celsius) that the heater must drop below before
#   the fan is disabled. The default is 50 Celsius.
#fan_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when its associated heater is enabled. The default
#   is 1.0


#[fan]
#pin: PB4

[printer]
kinematics: none