# This file contains common pin mappings for the BIGTREETECH Manta M8P
# To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" "8 MHz crystal"
# and "USB (on PA11/PA12)" or "CAN bus (on PD12/PD13)".

# See docs/Config_Reference.md for a description of parameters.



[include mainsail.cfg]

[include macros.cfg]

[mcu]
serial: /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_AH05F2R3-if00-port0

[idle_timeout]
#gcode:
#   A list of G-Code commands to execute on an idle timeout. See
#   docs/Command_Templates.md for G-Code format. The default is to run
#   "TURN_OFF_HEATERS" and "M84".
timeout: 21600  #6 hours
#   Idle time (in seconds) to wait before running the above G-Code
#   commands. Set it to 0 to disable the timeout feature.
#   The default is 600 seconds.

#[extruder]
#heater_pin: PD5
#sensor_pin: PA7

#[heater_bed]
#heater_pin: PD2
#sensor_pin: PA6

[temperature_sensor Top_Sensor]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PA6
min_temp: -10
max_temp: 280

[temperature_sensor Bottom_Sensor]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PA7
min_temp: -10
max_temp: 280

[heater_generic Oven_Heater]
gcode_id: H
heater_pin: PD5
max_power: 0.5
pwm_cycle_time: 0.01666
#control = pid_v
control: pid
pid_Kp: 1
pid_Ki: 1
pid_Kd: 1
min_temp: -10
max_temp: 260
sensor_type: temperature_combined
sensor_list: temperature_sensor Top_Sensor, temperature_sensor Bottom_Sensor
#   Must be provided. List of sensors to combine to new "virtual"
#   sensor.
#   E.g. 'temperature_sensor sensor1,extruder,heater_bed'
combination_method: mean
#   Must be provided. Combination method used for the sensor.
#   Available options are 'max', 'min', 'mean'.
maximum_deviation: 100
#   Must be provided. Maximum permissible deviation between the sensors
#   to combine (e.g. 5 degrees). To disable it, use a large value (e.g. 999.9)

[heater_fan Fan]
pin: PD2
#max_power: 1
#shutdown_speed:
cycle_time: 0.05
hardware_pwm: False
#kick_start_time:
#min_power:
#enable_pin:
#   See the "fan" section for a description of the above parameters.
heater: Oven_Heater
#   Name of the config section defining the heater that this fan is
#   associated with. If a comma separated list of heater names is
#   provided here, then the fan will be enabled when any of the given
#   heaters are enabled. The default is "extruder".
heater_temp: 50
#   A temperature (in Celsius) that the heater must drop below before
#   the fan is disabled. The default is 50 Celsius.
#fan_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when its associated heater is enabled. The default
#   is 1.0


#[fan]
#pin: PB4

[printer]
kinematics: none
max_velocity: 100000000
max_accel: 100000
